<cfg>
    <server address="zayed-gif.github.io">
        <port>443</port>
    </server>
    <assets>
        <loader>https://zayed-gif.github.io/game-file/Loader.swf</loader>
        <library>https://zayed-gif.github.io/game-file/library.swf</library>
        <hardware>https://zayed-gif.github.io/game-file/hardware.swf</hardware>
    </assets>
    <status>available</status>
</cfg>
